<article class="post reveal" itemscope itemprop="blogPost">
    <div class="gallery" id="gallery"></div>
</article>

<script>
    window.subData = {
        title: '<%= post.title %>',
        tools: true
    }
</script>