<article class="post reveal" itemscope itemprop="blogPost">
	<section class="article typo">
		<div class="article-entry" itemprop="articleBody">
			<%- post.content %>
		</div>
	</section>
</article>