<article class="post reveal" itemscope itemprop="blogPost">
    <section class='meta'>
        <h2 class="title">
            <center>
                <a href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </center>
        </h2>
    </section>
    <section class="article typo">
        <center>
            <div class="article-entry" itemprop="articleBody">
                <%- post.content %>
            </div>
        </center>
    </section>
</article>