<article class="post reveal" itemscope itemprop="blogPost">
    <div class="material-tagscloud">
        <div class="material-post mdl-grid">
            <%- tagcloud({
            min_font: 14,
            max_font: 20,
            amount: 9999,
            color: true,
            start_color: '#757575',
            end_color: '#212121',
        }) %>
        </div>

        <div>
            <center>
                <canvas id='tagcanvas' width="300px" height="300px">
                    <%- tagcloud({
                    min_font: 14,
                    max_font: 20,
                    amount: 9999,
                    color: true,
                    start_color: '#757575',
                    end_color: '#212121',
                }) %>
                </canvas>
            </center>
        </div>
        <div>
            <center>
                <a onclick="changeType('sphere');">#球</a>
                <a onclick="changeType('vcylinder');">#竖直圆柱</a>
                <a onclick="changeType('hcylinder');">#水平圆柱</a>
                <a onclick="changeType('vring');">#竖直环</a>
                <a onclick="changeType('hring');">#水平环</a>
                <a onclick="changeType('user');">#自定义</a>
            </center>
        </div>
    </div>
</article>